<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="BasicHttpBinding_IEmployeeManagementWebAPIUIService" />
                        <binding name="BasicHttpsBinding_IEmployeeManagementWebAPIUIService">
                                <security mode="Transport" />
                        </binding>
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost/EmployeeManagementWebAPIUI/EmployeeManagementWebAPIUIService.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeManagementWebAPIUIService"
                        contract="EmployeeManagementAPIUIClient.IEmployeeManagementWebAPIUIService"
                        name="BasicHttpBinding_IEmployeeManagementWebAPIUIService" />
                <endpoint address="https://9asm16008/EmployeeManagementWebAPIUI/EmployeeManagementWebAPIUIService.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IEmployeeManagementWebAPIUIService"
                        contract="EmployeeManagementAPIUIClient.IEmployeeManagementWebAPIUIService"
                        name="BasicHttpsBinding_IEmployeeManagementWebAPIUIService" />
        </client>
    </system.serviceModel>
</configuration>